<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Registro</title>
  </head>
  <body>
    <header>
      <div class="top-header">
        <picture class="logo">
          <a href="/"
            ><img
              src="/img/logo-mercado-liebre.svg"
              alt="Logo de MercadoLiebre"
          /></a>
        </picture>
        <div class="form">
          <form class="form" action="" method="get">
            <input class="input" type="text" name="" id="" placeholder="Buscar productos, marcas y más">
            <button class="submit" type="submit"><i class="fas fa-search"></i></button>            
          </form>
          </div>

          <p>
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin
            tarjeta de crédito
          </p>
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <!--FIN MENÚ 1-->
        <ul>
          <li>
            <a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
        <!--FIN MENÚ 2-->
      </nav>
      <!--FIN NAV-->
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <!--FIN HEADER-->
    <section class="banner">
      <img
        src="/img/img-home-banner.jpg"
        alt="Banner del sitio MercadoLiebre"
      />
    </section>
    <!-- Banner -->
    <main>
      <div class="formulario">
        <form action="/" method="post" enctype="multipart/form-data">
          <div class="datos_usuario">
            <p class="datos">Nombre y apellido</p>
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre y apellido"
            />
            <br />
            <p>Usuario</p>
            <input
              type="text"
              name="user"
              id="user"
              placeholder="Nombre de usuario"
            />
            <br />
            <p>Fecha de nacimiento</p>
            <input type="date" name="birthday" id="birthday" />
            <br />
            <input
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Domicilio"
            />
            <br />
          </div>
          <div class="user-type">
            <p>Perfil del usuario</p>
            <input
              type="radio"
              name="user-type"
              id="comprador"
              value="comprador"
            />
            <label for="comprador">Comprador</label>
            <input
              type="radio"
              name="user-type"
              id="vendedor"
              value="vendedor"
            />
            <label for="vendedor">Vendedor</label>
          </div>
          <div class="intereses">
            <p>Intereses</p>
            <input
              type="checkbox"
              name="intereses"
              id="intereses"
              value="electro"
            />
            <label for="intereses">Electro</label>
            <input
              type="checkbox"
              name="intereses"
              id="intereses"
              value="moda"
            />
            <label for="intereses">Moda</label>
            <input
              type="checkbox"
              name="intereses"
              id="intereses"
              value="hogar"
            />
            <label for="intereses">Hogar</label>
            <input
              type="checkbox"
              name="intereses"
              id="intereses"
              value="jugar"
            />
            <label for="intereses">Jugar</label>
            <input
              type="checkbox"
              name="intereses"
              id="intereses"
              value="Vida sana"
            />
            <label for="intereses">Vida sana</label>
          </div>
          <div class="foto">
            <p>Elegí tu foto</p>
            <label for="foto">Seleccioná una imagen</label>
            <input type="file" name="foto" id="foto" accept="jpg" />
          </div>
          <div class="password">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Elegí tu contraseña"
            />
            <br />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Confirmá tu contraseña"
            />
          </div>
          <div class="botones">
            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
          </div>
        </form>
      </div>
    </main>
    <!-- Fin del main -->
    <footer>
      <section>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>

      <section>
        <h2>Envío gratis desde $2.500</h2>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>

      <section>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@
        </p>
      </section>

      <section>
        <p>Copyright &copy: 1999-2020 MercadoLiebre S.R.L</p>
      </section>
      <!-- Fin del footer -->
    </footer>
  </body>
</html>
