/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* Normalización */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Colores */
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  /* Tamaños fuentes */
  --text-sm: 1.2em;
  --text-md: 1.6em;
  --text-lg: 1.8em;
  --titles: 2.4em;
  /* Familias de fuentes */
  --roboto: "Roboto", sans-serif;
}
/* Estilos comunes */
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--gris-claro);
}
h3 {
  font-size: var(--titles);
}
p {
  font-size: var(--text-sm);
}

header {
  background-color: var(--amarillo);
}

div.top-header {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

header picture.logo {
  display: block;
  width: 25%;
  margin-right: 1em;
  min-width: 120px;
}
/* Barra de búsqueda */
.form {
  padding: 0;
  flex: 20%;
}
form {
  width: 100%;
  background-color: white;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main form {
  flex-direction: column;
}

header div form input {
  font-family: var(--roboto);
  font-size: var(--text-sm);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.input:focus {
  outline: none;
}

.search {
  background-color: transparent;
  color: var(--gris-oscuro);
  padding: 0.5em;
  border: none;
  position: relative;
  top: 0.1em;
}
.search:hover {
  background-color: transparent;
  cursor: pointer;
}
/* Menu NAV */
header nav {
  font-size: var(--text-sm);
  display: none;
}

header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  color: black;
}
header .form .input {
  background-color: white;
  color: var(--gris-oscuro);
  padding: 5px;
  border: none;
  flex-grow: 1;
}

header div.top-header p {
  text-align: center;
}
header div.top-header p i {
  margin-right: 0.5em;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  font-size: 20px;
  color: white;
  height: 40px;
  width: 40px;
  margin: 10px 0 20px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Banner */
section.banner img {
  width: 100%;
}

/* Main */
main {
  width: 90%;
  margin: 0 auto;
}
main section article {
  background-color: white;
  margin: 10px 0;
  transition: all 0.5s linear;
}
main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 1s ease-in-out;
}
main section article img {
  width: 100%;
}
h2,
.description {
  color: var(--gris-oscuro);
}

.discount,
.description {
  font-size: var(--text-md);
  display: flex;
  justify-content: end;
}
.discount {
  width: 70%;
}
.description {
  opacity: 0;
  margin-bottom: 0;
  transition: opacity 1s ease-in-out;
  display: block;
}
.price {
  font-size: var(--text-lg);
  width: 30%;
}
main section article i,
.discount {
  color: var(--verde);
}
main section article i {
  font-size: var(--text-md);
  border: 1px solid var(--verde);
  border-radius: 50%;
}

main section article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
main section article:hover .description {
  opacity: 1;
}
main section article:hover i {
  transform: rotate(-90deg);
}
main section h3 {
  margin: 20px 0px;
}

article div.product-card {
  width: 100%;
  border: 1px solid var(--gris-claro);
  padding: 15px;
  position: relative;
}

.price-discount {
  display: flex;
  align-items: baseline;
}

main div form p {
  font-size: var(--text-md);
  font-weight: 500;
}
main div form label {
  font-size: var(--text-sm);
}
main div form div {
  padding: 5px;
}
.main-login div form div input {
  width: 75%;
  margin-top: 1rem;
}

/* Formulario login */
.userLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.datos,
.clave {
  display: none;
}

#nombre,
#password,
#birthday,
#user,
#domicilio {
  padding: 0 1rem;
  font-family: var(--roboto);
  font-size: var(--text-md);
  border-radius: 0.5rem;
  border: 1px solid var(--gris-oscuro);
  height: 5rem;
}
.user-type > *,
.intereses > * {
  padding: 0.1rem 0.1rem;
}
.user-type > p,
.intereses > p {
  padding: 0 0 0.5rem 0;
}
.botones {
  width: 100%;
  margin: 0;
  padding: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginbtn {
  background-color: var(--celeste);
  width: 75%;
  color: white;
  border-radius: 0.5rem;
  height: 5rem;
  margin: 0;
  font-family: var(--roboto);
  font-size: var(--text-md);
  border: none;
  cursor: pointer;
}
.formulario {
  font-family: var(--roboto);
  width: 100%;
}
.form-register {
  padding: 2rem;
  align-items: flex-start;
}
.datos_usuario {
  width: 100%;
}
.datos_usuario > * {
  padding: 1em 0;
}
.datos_usuario > input {
  margin: 0.5em 0;
  padding-left: 0;
  width: 100%;
}
.password {
  width: 100%;
}
.password > input {
  margin-top: 0.5em;
  width: 100%;
}

.form-register div {
  padding: 2em 0;
}
.intereses {
  padding-left: 1rem;
}
.enviar,
.borrar {
  background-color: var(--celeste);
  width: 100%;
  color: white;
  border-radius: 0.5rem;
  height: 5rem;
  margin: 5px 0;
  font-family: var(--roboto);
  font-size: var(--text-md);
  border: none;
  cursor: pointer;
}

.enviar {
  margin-right: 1em;
}
button:hover {
  background-color: #0022aa;
}

/* Estilos del main */
.main-register {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
}
footer section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 75%;
  padding: 2em 0 2em 0;
  color: var(--gris-oscuro);
}
footer section i {
  color: var(--celeste);
  font-size: var(--titles);
  padding-bottom: 1rem;
}

footer section i:hover {
  color: #0094c6;
}
/* Responsive */
/* Vista para tablets */
@media screen and (min-width: 361px) {
  .description {
    display: block;
    opacity: 1;
  }
  .top-header {
    display: flex;
    flex-wrap: nowrap;
  }
  header nav {
    font-size: var(--text-sm);
    display: flex;
    justify-content: space-between;
    padding: 0 1em 1em;
  }
  header nav ul {
    display: flex;
    margin: 0 1rem;
    flex-wrap: wrap;
  }
  header nav ul li {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
  .burger-menu {
    display: none;
  }
  main section div.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .product-container > * {
    flex: 45%;
  }
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 100%;
  }
  .product-card {
    flex: 0 50%;
  }
  .product-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
/* Vista para desktop */
@media screen and (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  header nav {
    font-size: var(--text-sm);
    display: flex;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    margin: 0 1rem;
  }
  header nav ul li {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
  .description {
    display: block;
    opacity: 1;
  }
  main section div.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .product-container > * {
    flex: 22%;
  }
  footer .promos {
    display: flex;
  }
  footer .promos > * {
    width: 33%;
  }
}
